<div class="container">
    <thead>
        <tr>
            <th scope="col">Pos.</th>
            <th scope="col">Puntos</th>
            <th scope="col">Equipo</th>
            <th scope="col">PJ</th>
            <th scope="col">PG</th>
            <th scope="col">PE</th>
            <th scope="col">PP</th>
            <th scope="col">Fuerza</th>
            <th scope="col">Resistencia</th>
            <th scope="col">Velocidad</th>
            <th scope="col">Precision</th>
            <th scope="col">Grupo</th>
        </tr>
    </thead>
</div>